<h1><a href="/"><b>pointmade</b>&mdash;training in security awareness</a></h1>

<nav>
  {{#link-to "assess"}}Assess{{/link-to}}
  {{#link-to "educate"}}Educate{{/link-to}}
  {{#link-to "measure"}}Measure{{/link-to}}
  <hr>
  <a href="" onclick="javascript: alert('Not implemented yet!'); return false;">Users</a>
</nav>

<section>
  {{outlet}}
</section>
